<div class="container">
	<h1 class="jumbotron-heading"> Contact Us</h1>

	
		<div class="row">
		</div>
		<div class="row">
			<div class="col">
				<p> Morbi et lobortis ex. Nulla feugiat velit vitae mi iaculis, ac vestibulum arcu luctus. Sed id congue ipsum. Maecenas nec hendrerit erat, non sollicitudin sem. Nulla facilisi. Nunc imperdiet aliquet massa, vel interdum nibh venenatis sit amet. Morbi luctus venenatis erat non facilisis. Praesent efficitur ullamcorper ante, vel pulvinar tellus. </p>

			</div>
	</div>
	<div class="row">
					<div class="col">
<div class="form-group">
    <form id = "form">
    	Name:
    	<input type ="text" name="name" class="form-control"><br>
    	Email:
    	<input type ="email" name="name" class="form-control"><br>
    	Subject:
    	<input type ="text" name="name" class="form-control"><br>
    	Enquiry:
    	<textarea name="name" class="form-control"> </textarea><br>

		<input type="Submit" class= "btn btn-success">
</form>


</div>

</div>

</div>
</div>

