<div class="container">
	<h1 class="jumbotron-heading"> Welcome To Electronic Reviews</h1>

	<div class ="container">
		<div class="row">
			<div class = "col">
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis nibh magna, at consectetur leo tempus eget. Curabitur lectus purus, tincidunt nec vehicula aliquam, lobortis id erat. Donec lacinia nisl in ligula aliquam consequat. Ut interdum condimentum nulla et pharetra.  </p>
			</div>
			<div class="col">
				<p> Morbi et lobortis ex. Nulla feugiat velit vitae mi iaculis, ac vestibulum arcu luctus. Sed id congue ipsum. Maecenas nec hendrerit erat, non sollicitudin sem. Nulla facilisi. Nunc imperdiet aliquet massa, vel interdum nibh venenatis sit amet. Morbi luctus venenatis erat non facilisis. Praesent efficitur ullamcorper ante, vel pulvinar tellus. </p>
			</div>

		</div>
		<div class="row">
			<div class="col">
				<p> Morbi et lobortis ex. Nulla feugiat velit vitae mi iaculis, ac vestibulum arcu luctus. Sed id congue ipsum. Maecenas nec hendrerit erat, non sollicitudin sem. Nulla facilisi. Nunc imperdiet aliquet massa, vel interdum nibh venenatis sit amet. Morbi luctus venenatis erat non facilisis. Praesent efficitur ullamcorper ante, vel pulvinar tellus. </p>
			</div>
			<div class="col">
				<p> <%= image_tag("laptop.jpg", size: "500x350") %></p>
			</div>
	</div>
